*:focus {
    outline: none !important;
}

body{
    overflow-x: hidden;
}

.section{
    height: 100vh;
}

.sidebar{
    width: 25%;
    background-color: rgba(163,189,49, 0.015);
}

.sidebar a {
    background-color: rgba(163,189,49, 0.35) !important;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    background-color: transparent;
    text-align: center;
}

.sidebar a:hover {
    background-color: rgba(163,189,49, 0.8) !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.sidebar-heading a {
    background-color: transparent !important;
}

.sidebar-heading a:hover {
    background-color: transparent !important;
}

.principal{
    width: 75%;
}

#wrapper{
    min-height: 100%;
}

#sidebar-wrapper .list-group {
    width: 100%;
}

#sidebar-wrapper .list-group .list-group-item{
    border: 0px;
    margin: 0.25em 0em 0.25em 0em;
    color: rgba(0, 0, 0, 0.9);
}

#page-content-wrapper {
    min-width: 100vw;
    background-color: rgba(163,189,49, 0.015);
}

.status {
    display: inline-block;
    margin: 0 0 0 6px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
}

.status.st-active {
    background-color: green;
}

.status.st-inactive {
    background-color: red;
}

.card-image {
    height: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0.1em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important ;
    color: rgb(78, 68, 68) !important;
}

img {
    max-width: 100%;
}

.card-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card {
    width: 95%;
    height: 80%;
}

.option-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.option-close {
    color: #000000;
}

.option-close:hover {
    color: #000000;
}

.custom-file-label::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f093"
}

.page-link {
    border: 0px;
    border-radius: 0.5em;
    color:rgba(0, 0, 0, 0.9);
    height: 2.5em;
    width: 2.5em;
    display: block;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.75em 0.1em rgba(0, 0, 0, 0.2);
    margin: 0em 0.5em 0em 0.5em;
    background-color: rgba(229,179,0, 0.2);
    font-weight: 500;
}

.page-link:hover {
    background-color: rgba(229,179,0, 0.3);
    color:rgba(0, 0, 0, 0.9);
}

.page-link:focus {
    box-shadow: none;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-right: 0.75em;
    border-radius: 50%;
}

.page-item:first-child .page-link::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: 0.2em;
    content: '\f060';
    display: block;
    position: absolute;
    top: 18%;
    left: 32%;
}

.page-item:last-child .page-link {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-left: 0.75em;
    border-radius: 50%;
}

.page-item:last-child .page-link::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: '\f061';
    display: block;
    top: 28%;
    right: 32%;
}

.page-item.active .page-link {
    margin: 0em 0.5em;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 3em 0em 3em 3em !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0em !important;
}

.pagination {
    margin: 3em 0em 3em 3em;
}

div.dataTables_wrapper div.dataTables_filter {
    margin: 0.5em 0em 0.5em 2em;
}

.my-custom-search {
    margin: 0.5em 0em 0.5em 2em;
}

.my-custom-search input{
    margin-left: 0.5em;
}

div.dataTables_wrapper div.dataTables_info {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6 !important;
}

table thead th::before {
    content: '' !important;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #dee2e6 !important;
}

.alert-refresh-orders {
    border-radius: 0.5em;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.info_field_title {
    padding-left: 10px;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 4px 6px -6px #A3BD31;
    -moz-box-shadow: 0 4px 6px -6px #A3BD31;
    box-shadow: 0 4px 6px -6px #A3BD31;
}

.pagination > li:hover{
    border-color: #FFFFFF !important;
}

thead{
    background-color: rgba(163, 189, 49, 0.2);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.login{
    border: none !important;
    width: 100% !important;
    height: 100% !important;
}

.login_header{
    -webkit-box-shadow: 0 4px 6px -6px #A3BD31;
    -moz-box-shadow: 0 4px 6px -6px #A3BD31;
    box-shadow: 0 4px 6px -6px #A3BD31;
    background-color: rgba(163, 189, 49, 0.015);
    border: none !important;
}

.login-body {
    background-color: rgba(163, 189, 49, 0.015);
}

.logo-app {
    width: 6%;
}

.logo-app-layout {
    width: 40%;
}

.my-custom-panel {
    border-radius: 0.5em;
    background-color: rgba(229,179,0, 0.1);
}

main {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(163, 189, 49, 0.1), rgba(163, 189, 49, 0.5), rgba(163, 189, 49, 0.8), rgba(163, 189, 49, 1));
}

nav {
    background-color: rgba(163, 189, 49, 0.1);
}

.my-btn-primary {
    background-color: rgba(229,179,0, 0.7);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.my-btn-primary:hover {
    background-color: rgba(229,179,0, 1);
}

.my-btn-other {
    background-color: rgba(163, 189, 49, 0.7);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.my-btn-other:hover {
    background-color: rgba(163, 189, 49, 1);
}

.my-btn-danger {
    background-color:  rgba(224, 4, 11, 0.7);
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
}

.my-btn-danger:hover {
    background-color:  rgba(197, 66, 71, 1);
    color: rgba(255, 255, 255, 0.9);
}

.btn:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgba(229,179,0, 1);
}

table.dataTable thead th.sorting:after {
    color: rgba(0, 0, 0, 0.9) !important;
}

table.dataTable thead th.sorting_desc:after {
    color: rgba(229,179,0, 1) !important;
}

table.dataTable thead th.sorting_asc:after {
    color: rgba(229,179,0, 1) !important;
    opacity: 1 !important;
}

.modal-content {
    border: 0em;
}

.modal-header {
    background-color: rgba(163, 189, 49, 0.015);
    border: 0em;
    -webkit-box-shadow: 0 4px 6px -6px #A3BD31;
    -moz-box-shadow: 0 4px 6px -6px #A3BD31;
    box-shadow: 0 4px 6px -6px #A3BD31;
}

.modal-title {
    color: rgba(0, 0, 0, 0.9);
}

.modal-body {
    background-color: rgba(163, 189, 49, 0.015);
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    padding-top: 2em;
}

.modal-footer {
    background-color: rgba(163, 189, 49, 0.015);
    border: 0em;
    padding-top: 2em;
}

.card-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    height: 15em;
    object-fit: cover;
}

.hide {
    display: none;
}


