body{
    overflow-x: hidden;
}

.section{
    height: 100vh;
}

.main .sidebar{
    width: 15%;
}

.main .principal{
    width: 85%;;
}

#wrapper{
    min-height: 100%;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group .list-group-item{
    border: 0px;
    margin: 0.25em 0em;
}

#page-content-wrapper {
    min-width: 100vw;
}

.status {
    display: inline-block;
    margin: 0 0 0 6px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
}

.status.st-active {
    background-color: green;
}

.status.st-inactive {
    background-color: red;
}

.card-image {
    height: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0em 0.1em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important ;
    color: black!important;
}

img {
    max-width: 100%;
}

.card-container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.card {
    width: 95%;
    height: 80%;
}

.option-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.option-close {
    color: #000000;
}

.option-close:hover {
    color: #000000;
}

.custom-file-label::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f093"
}

.page-link {
    border: 0px;
    border-radius: 0.5em;
    color:#000000;
    height: 2.5em;
    width: 2.5em;
    display: block;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.75em 0.1em #d0d0d0;
    margin: 0em 0.5em 0em 0.5em;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-right: 0.75em;
    border-radius: 50%;
}

.page-item:first-child .page-link::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-top: 0.2em;
    content: '\f060';
    display: block;
    position: absolute;
    top: 18%;
    left: 32%;
}

.page-item:last-child .page-link {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-radius: 0.5em;
    background-color: lightgray;
    margin-left: 0.75em;
    border-radius: 50%;
}

.page-item:last-child .page-link::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: '\f061';
    display: block;
    top: 28%;
    right: 32%;
}

.page-item.active .page-link {
    margin: 0em 0.5em;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 3em 0em 3em 3em !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 0em !important;
}

.pagination {
    margin: 3em 0em 3em 3em;
}

div.dataTables_wrapper div.dataTables_filter {
    margin: 2em 0em 2em 2em;
}

.my-custom-search {
    margin: 2em 0em 2em 2em;
}

.my-custom-search input{
    margin-left: 0.5em;
}

div.dataTables_wrapper div.dataTables_info {
    display: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6 !important;
}

table thead th::before {
    content: '' !important;
}

.alert-refresh-orders {
    border-radius: 0.5em;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
}

@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.info_field_title {
    padding-left: 10px;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 4px 6px -6px #0069D9;
    -moz-box-shadow: 0 4px 6px -6px #0069D9;
    box-shadow: 0 4px 6px -6px #0069D9;
}

nav {
    -webkit-box-shadow: 0 4px 6px -6px #0069D9;
    -moz-box-shadow: 0 4px 6px -6px #0069D9;
    box-shadow: 0 4px 6px -6px #0069D9;
}

.pagination > li:hover{
    border-color: #FFFFFF !important;
}

thead{
    background-color: #0069D9;
    color: #FFFFFF;
}

